* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
html {
    height: 100vh;
}
body {
    background-image: linear-gradient(180deg, rgb(107, 104, 104), rgb(65, 44, 44));
    
}
.shopping-cart {
    width: 100%;
    margin: auto;
    justify-content: center;
    display: flex;
}
em {
    color: white;
    font-style: normal;
}
h1 {
    text-align: center;
    padding: 1em;
    color: rgb(54, 21, 21)
}
h2 {
    padding: 1em 0 .5em;
    color: rgb(51, 31, 31);
}
h3 {
    padding: 1em 0 .5em;
    color: rgb(219, 71, 71);
}
p {
    padding-bottom: 1em;
}
.price-text{
    padding-top: 0.5em;
    color: lightgray;
}
.price-warning{
    font-weight: 800;
    color:rgb(85, 3, 3);
}
.products-container{    
    padding: 2em;
}
.cart-header {
    margin-left: auto;
    color: lightgray;
}
.cart-text {
    color: gray;
}
.cart-item{
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
.checkout-container {
    max-width: 34em;
    padding: 2em;
    background: #efefef;
}
.checkout-text{
    color: hsl(0, 47%, 30%);
}
.checkout-light-text{
    font-weight: 600;
    color:rgb(34, 32, 32);    
}
.products, .cart{
    display: flex;
    flex-wrap: wrap;
}

.products > div {    
    background-image: linear-gradient(180deg, rgb(107, 104, 104), rgb(65, 44, 44));
    margin: 1em;
    padding: 2em;
    box-shadow: 10px 5px 5px rgb(77, 62, 62);
}
.products > div img {
    max-width: 175px;
    height: auto;
}

.products > div h3 {
    font-weight: 800;
    text-align: center;
}

.products > div p {    
    text-align: center;
}

.cart > div {
    justify-content: center;
    border: 1px solid #ccc;
    margin: 1em;
    padding: 2em;
}
.checkout-container {
    background-image: linear-gradient(180deg, rgb(107, 104, 104), rgb(65, 44, 44));
}
.checkout {
    margin-bottom: 4em;
}
.cart-button {
    background-image: linear-gradient(180deg, rgb(107, 104, 104), rgb(65, 44, 44));
    color: white;
    position: relative;
    right: -15%;
}
.cart-item-button{
    right: 0;
}
.empty {
    right: 0;
}
button {
    border: 1px solid #ccc;
    background: #fff;
    padding: 1em;
    transition: .2s ease all;
    text-transform: uppercase;
}
button.pay {
    background: #f5f5f5;
    vertical-align: middle
}
button:hover {
    background: rgb(93, 120, 118);
    font-weight: 500;
    
    cursor: pointer;
}

.received {
    font-size: 1.5em;
    padding: 0.3em;
    border: 1px solid #ccc;
    vertical-align: middle
}